
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ventanaMensaje {
  width: 400px !important;
  height: 170px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.imgcheck {
  font-size: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
